In [7]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [3]:
f=pd.read_csv('fish_cleaned.csv')

In [4]:
f.head()

,ph,cond,ca,so4,no3,cl,alk,do,temp,abund,count
0,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,26.0,552.0
1,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,24.0,552.0
2,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,70.0,552.0
3,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,5.0,552.0
4,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,1.0,552.0