In [1]:
import pandas as pd
import numpy as np

In [14]:
f=pd.read_csv('fish.csv',low_memory=False)

In [15]:
f.head()

,species,state,HUCName,Common_Name,Dataset,Station_Date,SITE_ID,YEAR,month,ECOREGL3,...,num,mg,na,k,hco3,tn,al,Se,Cadmium,Calcium
0,Ambloplites rupestris,OH,NaN,Rock Bass,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Campostoma anomalum,OH,NaN,Central Stoneroller,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Catostomus commersonii,OH,NaN,White Sucker,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chrosomus erythrogaster,OH,NaN,South. Redbelly Dace,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Clinostomus funduloides,OH,NaN,Rosyside Dace,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42336 entries, 0 to 42335
Data columns (total 67 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            42336 non-null  object
 1   state              42336 non-null  object
 2   HUCName            41877 non-null  object
 3   Common_Name        32579 non-null  object
 4   Dataset            42336 non-null  object
 5   Station_Date       42336 non-null  object
 6   SITE_ID            42336 non-null  object
 7   YEAR               42336 non-null  int64
 8   month              42336 non-null  int64
 9   ECOREGL3           42336 non-null  int64
 10  LAT_DD             42219 non-null  float64
 11  LON_DD             42219 non-null  float64
 12  HUC                42336 non-null  int64
 13  BigHUC             42336 non-null  int64
 14  FE                 4900 non-null   float64
 15  MN                 4876 non-null   float64
 16  PHSTVL             41555 non-null  float64
 17  COND               42336 non-null  float64
 18  TP                 7313 non-null   float64
 19  CA                 21288 non-null  float64
 20  SO4                20224 non-null  float64
 21  NO3                22284 non-null  float64
 22  CL                 21420 non-null  float64
 23  alk                19920 non-null  float64
 24  do                 11203 non-null  float64
 25  Temp               25966 non-null  float64
 26  rbpscore           15392 non-null  float64
 27  GENUS              42336 non-null  object
 28  ABUND              25236 non-null  float64
 29  SUMCOUNT           25236 non-null  float64
 30  NUMSPEC            9757 non-null   float64
 31  NSBENT_INV         9757 non-null   float64
 32  NSBENT_INV_NONTOL  9757 non-null   float64
 33  NSINTOL            9757 non-null   float64
 34  PINTOL             9757 non-null   float64
 35  PBENT_INV          9757 non-null   float64
 36  PBENT_INV_NONTOL   9757 non-null   float64
 37  WS_AREA            25236 non-null  float64
 38  LWSKM2             25236 non-null  float64
 39  abent_inv          9757 non-null   float64
 40  abent_inv_nontol   9757 non-null   float64
 41  aintol             9757 non-null   float64
 42  ns_DarScuMad       9757 non-null   float64
 43  ab_DarScuMad       9757 non-null   float64
 44  p_DarScuMad        9757 non-null   float64
 45  Station_Year       42336 non-null  object
 46  lcond              42336 non-null  float64
 47  SO4HCO3            20072 non-null  float64
 48  ratio              19863 non-null  float64
 49  TotCount           25236 non-null  float64
 50  RA                 15479 non-null  float64
 51  FOR_TOT            5366 non-null   float64
 52  hardness           13270 non-null  float64
 53  Fecal_Coliform     138 non-null    float64
 54  xembed             2104 non-null   float64
 55  pct_safn           2104 non-null   float64
 56  VISIT_NO           42336 non-null  int64
 57  num                15479 non-null  float64
 58  mg                 18969 non-null  float64
 59  na                 18581 non-null  float64
 60  k                  18528 non-null  float64
 61  hco3               20251 non-null  float64
 62  tn                 19772 non-null  float64
 63  al                 4165 non-null   float64
 64  Se                 992 non-null    float64
 65  Cadmium            0 non-null      float64
 66  Calcium            77 non-null     float64
dtypes: float64(52), int64(6), object(9)
memory usage: 21.6+ MB

Is 29 SUMCOUNT the same as 49 TotCount? Keep one if they are the same

In [17]:
sum(f.SUMCOUNT==f.TotCount)

25236


####  Dependent variable - abundance or sumcount
####  Other variables - pH, conductivity, calcium, ions(SO4, NO3), chloride, alkalinity, dissolved oxygen and water temp

In [18]:
f=f.iloc[:,np.r_[16,17,19:26,28,29]].dropna()

In [19]:
f.columns=['ph','cond','ca','so4','no3','cl','alk','do','temp','abund','count']

In [20]:
f.head()

,ph,cond,ca,so4,no3,cl,alk,do,temp,abund,count
1412,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,26.0,552.0
1413,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,24.0,552.0
1414,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,70.0,552.0
1415,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,5.0,552.0
1416,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,1.0,552.0

Drop abund and get rid of duplicates

In [21]:
f=f.drop(['abund'],axis=1)

In [22]:
f.drop_duplicates()

,ph,cond,ca,so4,no3,cl,alk,do,temp,count
1412,7.92,90.3,520.603664,2023.147710,495.790660,11.325510,207.945967,12.93,12.2,552.0
1422,7.48,392.1,2690.990122,3750.857482,2030.268431,135.572335,6.278784,9.65,20.7,10.0
1426,8.08,155.6,1467.608893,575.664710,495.536923,108.268626,1401.309989,16.38,16.6,826.0
1433,8.80,221.1,1630.593477,692.598148,210.729301,146.294127,1438.082581,8.90,24.9,470.0
1457,7.99,48.0,1102.264244,322.952574,50.174695,64.917058,1177.024981,9.50,20.1,940.0
...,...,...,...,...,...,...,...,...,...,...
42234,6.56,54.0,182.379321,268.378048,534.701000,61.999650,92.341531,9.80,14.9,108.0
42235,7.85,352.0,956.942100,2038.640945,912.137000,102.999419,1513.438991,10.80,12.0,140.0
42243,7.83,262.1,1156.300876,1085.898873,220.171000,21.999876,1443.080205,10.10,11.4,23.0
42253,7.83,375.0,1604.339749,1342.793685,108.456462,24.708317,2854.656476,6.30,21.0,103.0
42267,8.02,386.0,1710.099580,1254.143771,44.267944,29.475104,3085.455297,5.70,18.9,151.0

Save cleaned data

In [23]:
f.to_csv('fish_cleaned.csv',index=False)