In [80]:
import pandas as pd
import numpy as np

In [136]:
f=pd.read_csv('fish.csv',low_memory=False)

In [64]:
f.head()

,species,state,HUCName,Common_Name,Dataset,Station_Date,SITE_ID,YEAR,month,ECOREGL3,...,num,mg,na,k,hco3,tn,al,Se,Cadmium,Calcium
0,Ambloplites rupestris,OH,NaN,Rock Bass,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Campostoma anomalum,OH,NaN,Central Stoneroller,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Catostomus commersonii,OH,NaN,White Sucker,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chrosomus erythrogaster,OH,NaN,South. Redbelly Dace,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Clinostomus funduloides,OH,NaN,Rosyside Dace,OH,200282_38909,200282,2006,8,70,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42336 entries, 0 to 42335
Data columns (total 67 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            42336 non-null  object
 1   state              42336 non-null  object
 2   HUCName            41877 non-null  object
 3   Common_Name        32579 non-null  object
 4   Dataset            42336 non-null  object
 5   Station_Date       42336 non-null  object
 6   SITE_ID            42336 non-null  object
 7   YEAR               42336 non-null  int64
 8   month              42336 non-null  int64
 9   ECOREGL3           42336 non-null  int64
 10  LAT_DD             42219 non-null  float64
 11  LON_DD             42219 non-null  float64
 12  HUC                42336 non-null  int64
 13  BigHUC             42336 non-null  int64
 14  FE                 4900 non-null   float64
 15  MN                 4876 non-null   float64
 16  PHSTVL             41555 non-null  float64
 17  COND               42336 non-null  float64
 18  TP                 7313 non-null   float64
 19  CA                 21288 non-null  float64
 20  SO4                20224 non-null  float64
 21  NO3                22284 non-null  float64
 22  CL                 21420 non-null  float64
 23  alk                19920 non-null  float64
 24  do                 11203 non-null  float64
 25  Temp               25966 non-null  float64
 26  rbpscore           15392 non-null  float64
 27  GENUS              42336 non-null  object
 28  ABUND              25236 non-null  float64
 29  SUMCOUNT           25236 non-null  float64
 30  NUMSPEC            9757 non-null   float64
 31  NSBENT_INV         9757 non-null   float64
 32  NSBENT_INV_NONTOL  9757 non-null   float64
 33  NSINTOL            9757 non-null   float64
 34  PINTOL             9757 non-null   float64
 35  PBENT_INV          9757 non-null   float64
 36  PBENT_INV_NONTOL   9757 non-null   float64
 37  WS_AREA            25236 non-null  float64
 38  LWSKM2             25236 non-null  float64
 39  abent_inv          9757 non-null   float64
 40  abent_inv_nontol   9757 non-null   float64
 41  aintol             9757 non-null   float64
 42  ns_DarScuMad       9757 non-null   float64
 43  ab_DarScuMad       9757 non-null   float64
 44  p_DarScuMad        9757 non-null   float64
 45  Station_Year       42336 non-null  object
 46  lcond              42336 non-null  float64
 47  SO4HCO3            20072 non-null  float64
 48  ratio              19863 non-null  float64
 49  TotCount           25236 non-null  float64
 50  RA                 15479 non-null  float64
 51  FOR_TOT            5366 non-null   float64
 52  hardness           13270 non-null  float64
 53  Fecal_Coliform     138 non-null    float64
 54  xembed             2104 non-null   float64
 55  pct_safn           2104 non-null   float64
 56  VISIT_NO           42336 non-null  int64
 57  num                15479 non-null  float64
 58  mg                 18969 non-null  float64
 59  na                 18581 non-null  float64
 60  k                  18528 non-null  float64
 61  hco3               20251 non-null  float64
 62  tn                 19772 non-null  float64
 63  al                 4165 non-null   float64
 64  Se                 992 non-null    float64
 65  Cadmium            0 non-null      float64
 66  Calcium            77 non-null     float64
dtypes: float64(52), int64(6), object(9)
memory usage: 21.6+ MB

In [115]:
sum(f.SUMCOUNT==f.TotCount)

25236

* Dependent variable - abundance or sumcount
* Other variables - pH, conductivity, calcium, ions(SO4, NO3), chloride, alkalinity, dissolved oxygen and water temp

In [124]:
f=f.iloc[:,np.r_[16,17,19:26,28,29]].dropna()

In [129]:
f.columns=['ph','cond','ca','so4','no3','cl','alk','do','temp','abund','count']

In [130]:
f.head()

,ph,cond,ca,so4,no3,cl,alk,do,temp,abund,count
1412,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,26.0,552.0
1413,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,24.0,552.0
1414,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,70.0,552.0
1415,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,5.0,552.0
1416,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,1.0,552.0

In [132]:
f.describe()

,ph,cond,ca,so4,no3,cl,alk,do,temp,abund,count
count,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000,4593.000000
mean,7.807584,357.065307,2148.120700,2300.375387,959.250190,363.341479,1730.006108,8.216368,20.895799,43.811670,833.610059
std,0.459613,431.581048,1973.952506,4597.148100,1980.060177,666.784574,1159.986319,1.757313,4.292712,105.378902,812.968634
min,6.190000,18.000000,43.347549,73.692256,9.435900,0.725622,6.278784,3.390000,5.530000,1.000000,1.000000
25%,7.510000,131.800000,995.853254,252.195575,112.883256,87.099637,854.576715,7.220000,18.500000,3.000000,241.000000
50%,7.850000,247.900000,1500.184776,485.479168,277.075589,180.064581,1522.180082,8.300000,21.570000,10.000000,542.000000
75%,8.120000,386.250000,2541.961404,1760.728193,854.468882,337.710341,2273.172864,9.200000,24.180000,37.000000,1147.000000
max,9.290000,4000.000000,13163.372680,32003.597560,18022.569000,7220.786840,6175.374547,16.380000,30.100000,1835.000000,4739.000000

In [135]:
f.to_csv('fish_cleaned.csv')