In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
f=pd.read_csv('fish_cleaned.csv')

In [5]:
f.head()

,ph,cond,ca,so4,no3,cl,alk,do,temp,count
0,7.92,90.3,520.603664,2023.147710,495.790660,11.325510,207.945967,12.93,12.2,552.0
1,7.48,392.1,2690.990122,3750.857482,2030.268431,135.572335,6.278784,9.65,20.7,10.0
2,8.08,155.6,1467.608893,575.664710,495.536923,108.268626,1401.309989,16.38,16.6,826.0
3,8.80,221.1,1630.593477,692.598148,210.729301,146.294127,1438.082581,8.90,24.9,470.0
4,7.99,48.0,1102.264244,322.952574,50.174695,64.917058,1177.024981,9.50,20.1,940.0

In [6]:
X=f.drop('count',axis=1)
y=f['count']

Linear Regression

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25, random_state=0)

In [8]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [34]:
from sklearn import linear_model
lr=linear_model.LinearRegression()
lr.fit(X_train, y_train)
y_pred=lr.predict(X_test)

In [36]:
from sklearn.metrics import mean_squared_error, r2_score
print('MSE ', mean_squared_error(y_test,y_pred))
print('R2 ', r2_score(y_test,y_test))

MSE  531421.076292651
R2  0.21941890096944905

Random Forest Regression

In [39]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=100, random_state=0)
rf.fit(X_train, y_train)
y_pred=rf.predict(X_test)

In [40]:
print('MSE ', mean_squared_error(y_test,y_pred))
print('R2 ', r2_score(y_test,y_pred))

MSE  503377.0128210064
R2  0.2606115951672301