In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [34]:
f=pd.read_csv('fish_cleaned.csv')

In [35]:
f.head()

,ph,cond,ca,so4,no3,cl,alk,do,temp,abund,count
0,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,26.0,552.0
1,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,24.0,552.0
2,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,70.0,552.0
3,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,5.0,552.0
4,7.92,90.3,520.603664,2023.14771,495.79066,11.32551,207.945967,12.93,12.2,1.0,552.0

In [36]:
# decided to only use 'count', because unsure how 'abund' is collected
f=f.drop('abund',axis=1)

In [37]:
X=f.drop('count',axis=1)
y=f['count']

In [50]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25, random_state=0)

In [51]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [52]:
from sklearn import linear_model
regr=linear_model.LinearRegression()
regr.fit(X_train, y_train)
y_pred=regr.predict(X_test)

In [53]:
print(regr.intercept_)
print(regr.coef_)

829.6980255516838
[  40.43267365 -244.43999379   49.00498515  -63.59333759 -120.62389364
  106.64848952  230.96430397   99.81050068  242.75269532]

In [54]:
from sklearn.metrics import mean_squared_error, r2_score
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

536426.3454195808
0.22468808261587636

In [55]:
print(regr.score(X_train, y_train))

0.23240790675911627