In [65]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        #print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        WITH query AS (
        SELECT Bookings.facid, name, initialoutlay, monthlymaintenance,
            CASE WHEN Bookings.memid = 0 THEN guestcost * slots
                 WHEN Bookings.memid != 0 THEN membercost * slots
                 END AS cost
        FROM Facilities
        LEFT JOIN Bookings
        ON Facilities.facid = Bookings.facid)

        SELECT *
        FROM
            (SELECT name, SUM(cost) AS totalrevenue
             FROM query
             GROUP BY name) AS sub
        WHERE totalrevenue < 1000
        ORDER BY totalrevenue DESC
        """
    cur.execute(query1)
    column_names = [i[0] for i in cur.description]
    print(column_names)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

OperationalError: near "FROM": syntax error